@import './reset.css';

:root {
    --app-dark-bg:#1a1d28;
    --app-red: #cc231e;
    --app-green:#34a65f;
    --app-light-bg: #f0f4f6;
}

body {
    background-color: #fff;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}